body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color:#777; */
    background-image: url("/home/student/Downloads/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h3{
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:rgb(99, 99, 99);
}

.artist-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:rgb(99, 99, 99);
}

.artist {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgb(175, 175, 175);
}
.artist_references{ 
    text-align: center;
    font-size: 150%;
    text-decoration: none;
    color: inherit;
    /* cursor: default; */
}
.a{
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius:50%;
    overflow:hidden;
}

h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.err1 {
    text-align: center;
    color: #333;
    padding: 20px;
}

.err2 {
    text-align: center;
    color: #777;
}

.err3 {
    text-align: center;
    color: #555;
}

.homeButton {
    font-size: 500px;
    display: block;
    width: 100px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.homeButton:hover {
    background-color: #555;
}

/*  */

.bodyA{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}

.h1A {
    color: #333;
    text-align: center;
}

.imgA {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
}

.ulA {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

.liA {
    margin-bottom: 5px;
    text-align: center;
}

.h2A {
    margin-top: 20px;
    color: #666;
    text-align: center;
}

.pA {
    color: #999;
    text-align: center;
}
